.mmb-top {
  line-height: 40px;
  background-color: #e4393c;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
}
.mmb-top a img {
  height: 34px;
  width: 34px;
}
.mmb-product {
  background-color: white;
  padding: 10px 5px 30px;
}
.mmb-product > ul > li {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 5px;
}
.mmb-product > ul > li > a {
  display: inline-block;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
}
.mmb-product > ul > li > a > img {
  height: 50px;
  width: 50px;
}
.mmb-product > ul > li > a > p {
  padding-top: 3px;
}
.mmb-pianyi {
  height: 40px;
  border-top: 1px solid #ccc ;
  border-bottom: 1px solid #ccc ;
  line-height: 40px;
  padding-left: 5px;
  margin-bottom: 20px;
}
.mmb-pianyi a {
  font-size: 14px;
  color: black;
}
.mmb-post {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
.mmb-post a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.mmb-post a:nth-of-type(1),
.mmb-post a:nth-of-type(2) {
  width: 30%;
  border-right: 1px solid #e6e6e6;
}
.mmb-post a:nth-of-type(3) {
  width: 35%;
}
.mmb-footer {
  text-align: center;
  padding-top: 20px;
}
.mmb-footer p:first-child a:first-child {
  color: red;
}
