//¶¥²¿Í¨À¸-start
.mmb-top{
  line-height: 50px;
  background-color:#ff841d;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;

  a{
    img{
      height: 34px;
      width: 34px;
    }
  }
}


.mmb-img-tex{
  background-color: white;
  .imt{
    .tm{
      padding-left: 10px;
      >h4{
        color: orange;
      }
      >p{
        padding-bottom: 20px;
        color: #999;
        font-size: 14px;
      }
      .small-img{
        font-size: 15px;
        font-weight:500;
        img{
          width: 120px;
          height: 120px;
          display: inline-block;
          float: right;
        }
      }
    }
   .large-img{
     display: flex;
     justify-content: center;
     margin-top: 25px;
     img{
       width: 400px;
       height: 400px;
     }
   }
    .uls{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      ul{
        width: 40%;
        border: 1px solid #ccc;
        padding:10px;
        li{
          padding:5px 0;
          border-bottom: 1px dashed #ccc;
          a{

            strong{
              float: right;
              color: orange;
            }
          }


        }
      }
    }
    .buttons{
      display: flex;
      justify-content: center;
      button{
        width: 80%;
        height: 40px;
        background-color:#FF9000 ;
        border-radius: 10px;
        color: white;
        font-size: 14px;
      }
    }
    .erweima{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      img{
        width:94%;
      }
    }

    .tit{
      font-size: 16px;
      padding:30px 0 15px 0;
      color: black;
      }
      .form{
        border: 2px solid #ECEAE8;
        textarea{
                width: 100%;
                border: none;
                outline:none;
              }
      }
    .ctrl::before,.ctrl::after{
      content: "";
      clear: both;
      overflow: hidden;
      ine-height: 0;
      height: 0;
      display: block;
      *zoom: 1;

    }
    .ctrl{
      input{
        text-align: center;
        width: 100px;
        height: 40px;
        background-color: #ff841d;
        color: white;
        font-size: 18px;
        line-height: 40px;
        float: right;
      }
    }
    .userimg{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      overflow: hidden;
      float: left;
      margin-right: 15px;
      img{
        height: 40px;
        width: 40px;


      }
    }
    .ui-border-b:before,.ui-border-b::after{
      content: "";
      clear: both;
      overflow: hidden;
      ine-height: 0;
      height: 0;
      display: block;
      *zoom: 1;
    }
    .con{
      float: left;
      width: 100%;

    }
    .name{
      width: 100%;
      display: flex;
      justify-content: space-between;
      >div{
        width: 50%;
      }
      >div:first-child{
        color: #5997c0;
      }
      >div:last-child{
        text-align: right;
        font-size: 13px;
      }

    }
    .list{
      ul{
        li{
          display: flex;
          padding-bottom: 25px;
        }
      }
    }
    .content{
      font-size: 14px;
      padding-top: 5px;
    }
    .pinglun{
      padding:0 15px;
      >p{
        font-size: 16px;
        padding:30px 0 15px 0;
        color: black;
      }
    }
    }

  }





//µÇÂ¼×¢²á
.mmb-post{
  border-top:1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
  width: 100%;
  a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;

  }
  a:nth-of-type(1),a:nth-of-type(2){
    width: 30%;
    border-right: 1px solid #e6e6e6;
  }
  a:nth-of-type(3){
    width: 35%;
  }
}


//µ×²¿-start
.mmb-footer{
  text-align: center;
  padding-top:20px;
  p:first-child{
    a:first-child{
      color: red;
    }
  }

}




