.mmb-top {
  line-height: 50px;
  background-color: #ff841d;
}
.mmb-top img {
  width: 185.5px;
  height: 25px;
}
.mmb-top a img {
  height: 34px;
  width: 34px;
}
.mmb-search {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}
.mmb-search form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.mmb-search form input {
  width: 80%;
  height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  font-size: 16px;
  padding-left: 15px;
}
.mmb-search form button {
  font-size: 16px;
  height: 30px;
  width: 65px;
  background-color: #ff841d ;
  color: white;
  border-radius: 15px;
}
.mmb-books {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}
.mmb-books a {
  display: inline-block;
  width: 25%;
  text-align: center;
}
.mmb-books a img {
  height: 50px;
  width: 50px;
}
.mmb-books a p {
  padding-bottom: 10px;
}
.mmb-books a:nth-last-child(-n+4) {
  display: none;
}
.mmb-books .hide {
  display: block !important;
}
.mmb-give a {
  display: block;
  height: 35px;
  background-color: #ff9000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
.mmb-give a span {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.mmb-give a img {
  height: 20px;
  width: 20px;
}
.mmb-product {
  background-color: white;
  font-size: 14px;
}
.mmb-product > a {
  display: block;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.mmb-product > a img {
  width: 100px;
  height: 100px;
}
.mmb-product > a p {
  padding-top: 35px;
  font-size: 12px;
  color: #a1a1a1;
}
.mmb-product > a p s {
  display: inline-block;
  height: 12px;
  width: 1px;
  margin: 5px;
  background-color: #a1a1a1;
  vertical-align: middle;
}
.mmb-product > a p span:last-child {
  font-size: 12px;
}
.mmb-product > a span:nth-child(2) {
  color: #ff9000;
}
.morehui {
  height: 30px;
  padding: 10px 10px 20px 10px;
  display: block;
  margin-bottom: 30px;
}
.morehui a {
  display: block;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.mmb-post {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
.mmb-post a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.mmb-post a:nth-of-type(1),
.mmb-post a:nth-of-type(2) {
  width: 30%;
  border-right: 1px solid #e6e6e6;
}
.mmb-post a:nth-of-type(3) {
  width: 35%;
}
.mmb-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mmb-footer p:first-child a:first-child {
  color: red;
}
