.mmb-top {
  line-height: 50px;
  background-color: #ff841d;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
}
.mmb-top a img {
  height: 34px;
  width: 34px;
}
.mmb-product .product > a {
  float: left;
  width: 50%;
  border-bottom: 1px solid #ccc;
}
.mmb-product .product > a > div {
  padding: 20px 10px 10px 10px;
  height: 265px;
  background-color: white;
}
.mmb-product .product > a > div > div:first-child {
  text-align: center;
}
.mmb-product .product > a > div > div:first-child > img {
  height: 140px;
  width: 140px;
}
.mmb-product .product > a > div p:nth-of-type(1) {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
}
.mmb-product .product > a > div p:nth-of-type(2) {
  color: #ff6c00;
  font-size: 14px;
  padding-top: 5px;
}
.mmb-product .product > a > div > div:last-child {
  padding-top: 5px;
  color: #a1a1a1;
}
.mmb-product .product > a:nth-of-type(2n-1) > div {
  border-right: 1px solid #ccc;
}
.mmb-post {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
.mmb-post a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.mmb-post a:nth-of-type(1),
.mmb-post a:nth-of-type(2) {
  width: 30%;
  border-right: 1px solid #e6e6e6;
}
.mmb-post a:nth-of-type(3) {
  width: 35%;
}
.mmb-footer {
  text-align: center;
  padding-top: 20px;
}
.mmb-footer p:first-child a:first-child {
  color: red;
}
