.mmb-top {
  line-height: 50px;
  background-color: #ff841d;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
}
.mmb-top a img {
  height: 34px;
  width: 34px;
}
.mmb-search {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}
.mmb-search form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.mmb-search form input {
  width: 80%;
  height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
  font-size: 16px;
  padding-left: 15px;
}
.mmb-search form button {
  font-size: 16px;
  height: 30px;
  width: 65px;
  background-color: #ff841d ;
  color: white;
  border-radius: 15px;
}
.mmb-give a {
  display: block;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}
.mmb-give a span {
  font-size: 14px;
}
.mmb-product {
  background-color: white;
  font-size: 14px;
}
.mmb-product > a {
  display: block;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.mmb-product > a img {
  width: 100px;
  height: 100px;
}
.mmb-product > a p {
  padding-top: 35px;
  font-size: 12px;
  color: #a1a1a1;
}
.mmb-product > a p s {
  display: inline-block;
  height: 12px;
  width: 1px;
  margin: 5px;
  background-color: #a1a1a1;
  vertical-align: middle;
}
.mmb-product > a p span:last-child {
  font-size: 12px;
}
.mmb-product > a span:nth-child(2) {
  color: #ff9000;
}
.mmb-fenye .fenye {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.mmb-fenye .fenye button {
  padding: 8px 20px;
  color: #5a5a5a;
  background-color: #d4d4d4;
  border-radius: 3px;
  border: 1px solid #8c8c8c;
}
.mmb-fenye .fenye ul {
  height: 32px;
  width: 80px;
  text-align: center;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
}
.mmb-fenye .fenye ul li {
  height: 32px;
  width: 80px;
  line-height: 32px;
  position: relative;
  border-left: 1px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
}
.mmb-fenye .fenye ul li i {
  position: absolute;
  right: 10px;
}
.mmb-fenye .fenye ul li:last-child {
  border-bottom: 1px solid #8c8c8c;
}
.mmb-fenye .fenye .overu {
  overflow: hidden;
}
.mmb-fenye .lianjie {
  padding-left: 5px;
  margin-top: 30px;
}
.mmb-fenye .lianjie > p:first-child {
  font-size: 18px;
  color: black;
}
.mmb-fenye .lianjie p {
  margin-top: 5px;
}
.mmb-fenye .lianjie p:last-child {
  margin-bottom: 20px;
}
.mmb-post {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}
.mmb-post a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.mmb-post a:nth-of-type(1),
.mmb-post a:nth-of-type(2) {
  width: 30%;
  border-right: 1px solid #e6e6e6;
}
.mmb-post a:nth-of-type(3) {
  width: 35%;
}
.mmb-footer {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 65px;
}
.mmb-footer p:first-child a:first-child {
  color: red;
}
.mmb-fixt {
  width: 100%;
  background-color: white;
  z-index: 2;
  position: fixed;
  bottom: 1px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.mmb-fixt span:first-child {
  margin-right: 15px;
  font-size: 24px;
}
.mmb-fixt img {
  height: 40px;
  width: 40px;
}
.mmb-fixt > div {
  padding-left: 10px;
  height: 40px;
}
.mmb-fixt > div p:nth-of-type(1) {
  font-size: 18px;
}
.mmb-fixt > div p:nth-of-type(2) {
  font-size: 14px;
  padding-top: 5px;
}
.mmb-fixt a {
  margin-left: 145px;
}
.mmb-fixt a button {
  height: 30px;
  width: 80px;
  background-color: #ff7700 ;
  border-radius: 7px;
}
